@import 'src/resources/styles';

.row {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font: $h2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $dark-main;
  }
}

.plug {
  width: 20px;
  height: 20px;
  background-color: $plug-color;
}