// colors

$bg-main: #FAFAFA;
$bg-light: #FFFFFF;
$dark-main: #333333;
$dark-2: #666666;
$light-main: #E6E6E6;
$light-2: #C7C4CE;
$highlight: #DF6868;



// fonts

$h2: 600 16px/20px Montserrat, sans-serif;
$h3: 700 14px/16px Roboto, sans-serif;
$p: 500 12px/15px Montserrat, sans-serif;
$attribute: 600 12px/15px Montserrat, sans-serif;